@font-face {
  font-family: "roboto-500";
  src: url("./assets/fonts/roboto-500.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url("./assets/fonts/roboto-regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-700";
  src: url("./assets/fonts/roboto-700.ttf") format("truetype");
}

.button{
  transition-duration: 0.4s;
  background-color: rgba(220,13,13,1); /* Green */
  color: white;
  width: 138px;
  height: 38px;
  padding:15px;
  border-radius: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  border: none;
}
